[package]
name = "{project_name}"
version = "0.1.0"
edition = "2021"

[lib]
path = "assets/lib.rs"
crate-type = ["cdylib"]

[dependencies]
reflect = \{ git = "https://github.com/cmilatinov/calyx-rust", package = "reflect" }
engine = \{ git = "https://github.com/cmilatinov/calyx-rust", package = "engine" }
editor = \{ git = "https://github.com/cmilatinov/calyx-rust", package = "editor" }
