use engine::reflect::type_registry::TypeRegistry;

#[no_mangle]
pub extern "C" fn plugin_main(registry: &mut TypeRegistry) {
    for f in inventory::iter::<engine::ReflectRegistrationFn>() {
        (f.function)(registry);
    }
}
